.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

.cartItemContainer {
  display: grid;
}

.cartItem {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
